#log-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  word-wrap: break-word;
}

#title {
  font-size: 4rem;
}

#warning-text {
  font-size: 2rem;
  margin-top: 10px;
}

#log-in-button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #51c58c;
  border-radius: 20px;
  margin-top: 20px;
  border-color: #51c58c;
}

.information-container {
  padding-right: 60px;
  text-align: justify;
}


#log-in-container {
  z-index: -1;
}

.section {
  color: #51c58c;
  margin-top: 30px;
}

.section-text {
  font-size: 15px;
  margin-top: 15px;
}


#author {
  font-size: 1.45rem;
}

#learn {
  color: #51c58c;
  text-align: end;
  font-size: 1.2rem;
}

#git {
  text-align: end;
  bottom: 0;
}

a {
  color: #51c58c;
}
