#personality-type {
  font-size: 20px;
  font-weight: bold;
}

#analysis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
}

.caption {
  text-shadow: none !important;
  fill: white;
  font-size: 20px;
}

.scale {
  fill: #51c58c !important;
}
